@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");

:root {
    --background-gray: #EBECEE;
    --white-primary: #FFF;
    --orange-primary: #EB9B00;
    --blue-gradient: linear-gradient(160deg, #002F52 0%, #326589 100%);
    --font-primary: 'Poppins', sans-serif;
    --blue-primary: #002F52;
}

body {
    background-color: var(--background-gray);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
}