.banner {
    background: var(--blue-gradient);
    color: var(--white-primary);
    text-align: center;
    padding: 2.5rem 2rem;
}

.banner__titulo {
    font-size: 1.125rem;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1rem 0;
    line-height: normal;
}