.cabeçalho {
    background-color: var(--white-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../assets/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1rem;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    background-color: var(--white-primary);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1rem;
    background-color: var(--white-primary);
}

.lista-menu__titulo {
    color: var(--orange-primary);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--blue-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}