.cabeçalho {
    background-color: var(--background-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../assets/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1rem;
}